.vs/
obj/
bin/
.vs/L3/DesignTimeBuild/.dtbcache.v2
.vs/L3/FileContentIndex/0e31700b-cd15-44d4-be77-a0cd4800c2fa.vsidx
.vs/L3/FileContentIndex/2dcc250c-60fa-4108-9e87-4fdb468e5bb6.vsidx
.vs/L3/FileContentIndex/32882082-c459-4d4b-8a06-de7a2e501ef7.vsidx
.vs/L3/FileContentIndex/58ae7e5d-4378-4d07-8529-58b76ce06a0c.vsidx
.vs/L3/FileContentIndex/5ecf7616-6b64-4440-845e-e7c38f4b0b79.vsidx
.vs/L3/v17/.futdcache.v2
.vs/L3/v17/.suo
.vs/ProjectEvaluation/l3.metadata.v7.bin
.vs/ProjectEvaluation/l3.projects.v7.bin
bin/Debug/net8.0-windows/L3.dll
bin/Debug/net8.0-windows/L3.exe
bin/Debug/net8.0-windows/L3.pdb
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/L3.AssemblyInfo.cs
obj/Debug/net8.0-windows/L3.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/L3.assets.cache
obj/Debug/net8.0-windows/L3.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows/L3.csproj.GenerateResource.cache
obj/Debug/net8.0-windows/L3.designer.runtimeconfig.json
obj/Debug/net8.0-windows/L3.dll
obj/Debug/net8.0-windows/L3.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/L3.genruntimeconfig.cache
obj/Debug/net8.0-windows/L3.pdb
obj/Debug/net8.0-windows/L3.sourcelink.json
obj/Debug/net8.0-windows/ref/L3.dll
obj/Debug/net8.0-windows/refint/L3.dll
obj/L3.csproj.nuget.dgspec.json
obj/L3.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
